@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body,
html {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
}

#products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
}

#fondoBanner {
    background-image: url('assets/fondo.jpg');
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#banner {
    font-size: 100;
    text-align: center;
    color: white;
}