<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content=" ">
    <meta name="author" content="Leonardo Daniel Figueroa Guel && Kevin David Tames Hernandez">
    <meta name="generator" content="ShopOnline Tecla 1.1">
    <title>Tecla Tienda Online</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/checkout/">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/custom_style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    
    <!-- Custom styles for this template -->
    <link href="./assets/dist/css/form-validation.css" rel="stylesheet">
</head>
