<%- include("headers/registerHeader") %>

<body class="bg-secondary  row justify-content-md-center ">
    <div class="card  row justify-content-md-center " >
        <div class="card-body  row justify-content-md-center ">
    <div class="container-fluid">
        <main>
            <div class="py-5 text-center">
                <!--<img class="d-block mx-auto mb-4" src="./assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
               -->
                <h2>Datos para el registro</h2>
                <p class="lead">Por favor ingresa tus datos para crear una cuenta con nosotros</p>
            </div>
    </div>
    <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Ingresa tus datos</h4>
        <form class="needs-validation" id="formNewUser" novalidate>
            <div class="row g-3">
                <div class="col-sm-6">
                    <label for="firstName" class="form-label">Nombre(s)</label>
                    <input type="text" class="form-control" name="name" id="firstName" placeholder="" value="" required>
                    <div class="invalid-feedback">
                        El campo de nombre es requerido
                    </div>
                </div>

                <div class="col-sm-6">
                    <label for="lastName" class="form-label">Apellido Paterno</label>
                    <input type="text" class="form-control" name="lastname1" id="lastName" placeholder="" value="" required>
                    <div class="invalid-feedback">
                        El campo de apellido paterno es requerido
                    </div>
                </div>
                <div class="col-sm-6">
                    <label for="lastName" class="form-label">Apellido Materno</label>
                    <input type="text" class="form-control" name="lastname2" id="lastName2" placeholder="" value="" required>
                    <div class="invalid-feedback">
                        El campo de apellido materno es requerido
                    </div>
                </div>
                <div class="col-sm-6">
                    <label for="lastName" class="form-label">Telefono</label>
                    <input type="text" class="form-control" name="phone" id="phone" placeholder="celular" value="" required>
                    <div class="invalid-feedback">
                        El campo de apellido materno es requerido
                    </div>
                </div>

                <div class="col-12">
                    <label for="username" name="email" class="form-label">Correo eléctronico</label>
                    <div class="input-group has-validation">
                        <span class="input-group-text">@</span>
                        <input type="text" name="email" class="form-control" id="email" placeholder="ejemplo@dominio.com" required>
                        <div class="invalid-feedback">
                            El correo es requerido
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <label for="username" name="password" class="form-label">Contraseña</label>
                    <div class="input-group has-validation">
                        <span class="input-group-text"><i class="fas fa-lock"></i></span>
                        <input type="password" name="password" class="form-control" id="password" placeholder="MiContraseña2.0" required>
                        <div class="invalid-feedback">
                            El correo es requerido
                        </div>
                    </div>
                </div>


                <div class="col-12">
                    <label for="address" class="form-label">Dirección</label>
                    <input type="text" name="address" class="form-control" id="address" placeholder="Calle, número, código postal, colonia y delegación" required>
                    <div class="invalid-feedback">
                        Por favor ingrese una dirección de envio
                    </div>
                </div>
                <div class="col-12">
                    <label for="rol" class="form-label">Elija un rol de usuario</label><BR>
                    <label><input type="radio" id="rolAdmin" name="rol" value="god">
                     Admin</label><br>
                    <label><input type="radio" id="rolUser" name="rol" value="mortal">
                     User</label><br>
                  <div class="invalid-feedback">
                        Por favor ingrese una opción 
                    </div>
                </div>
                
            </div>

            <hr class="my-4">


            <a class="w-100 btn btn-primary btn-lg" type="submit" onclick="createUser();">Registrar</a>
        </form>
    </div>
    </div>
</div>
</div>
    </main>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2017–2021 Company Name</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
    </footer>
    </div>


    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/assets/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/assets/dist/js/form-validation.js"></script>
    <script src="/js/scripts.js"></script>
</body>

</html>