<%- include("headers/trendsHeader") %>

<body class="bg-secondary">

    <div class="container-fluid" >
        <main>
            <nav class="navbar navbar-expand-xl navbar sticky-top bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand text-white" href="./index.html" >Shop Online</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                    <div class="collapse navbar-collapse" id="navbarScroll">
                        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                            <li class="nav-item">
                                <a class="nav-link active text-white" aria-current="page" href="./index.html">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="./tendencias.html" onclick="execute('Tendencia');">Tendencias ML</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Usuarios
                        </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                    <li><a class="dropdown-item" href="./login.html">Iniciar Sesión</a></li>
                                    <li><a class="dropdown-item" href="./register.html">Registrarse</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="./restPass.html">Olvide mi contraseña</a></li>
                                </ul>
                            </li>
                            <a id="produtos_carrito" href=""><i class="fas fa-shopping-cart"></i></a>
                           
                        </ul>
                        <form class="d-flex">
                            <input id="busqueda" class="form-control me-2" type="search" placeholder="Búscar un artículo" aria-label="Search">
                            <a class="btn btn-outline-success" onclick="searchArticle()" type="submit">Buscar</a>
                        </form>
                    </div>
                </div>
            </nav>
            <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="10000">
                    <img src="assets/img/slide1.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5 id="carousel" >Disfruta de la comodidad de comprar en linea</h5>
                      <p id="carousel">Productos celulares a un click de distacia</p>
                    </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="assets/img/slide2.png" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5 id="carousel">Realiza tu pedido</h5>
                      <p id="carousel">Envios a todo méxico sin costo extra.</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="assets/img/slide3.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5 id="carousel">Calidad</h5>
                      <p id="carousel">Las gamas más altas y economicas al alcance de todos.</p>
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
           

                <hr class="my-4">

                </form>
                <form>
                    <div class="container-fluid" id="articleDivTrend"></div>
                    <div class="container-fluid" id="articleDiv" >

                    </div>
            </div>
            </form>

    </div>
    </div>
    </main>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2021 TECLA CODING ACADEMY LEO & DAVE</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
    </footer>
    </div>


    <script src="../public/assets/dist/js/bootstrap.bundle.min.js"></script>

    <script src="../public/assets/dist/js/form-validation.js"></script>
    <script src="../public/js/scriptTrend.js"></script>
</body>

</html>